<div class="container">
  <h2>Avi Store</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>size</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @product.each do |p| %>
      <tr>
        <td><%= p.title %></td>
        <td><%= p.description %></td>
        <td><%= p.price %></td>
        <td><%= p.size %></td>
        <td><%= link_to "Show", product_path(p), :class=>"btn btn-primary"%></td>
        <td><%= link_to "Edit", edit_product_path(p), :class=>"btn btn-primary"%></td>
        <td><%= link_to "Delete", p, method: :delete, data: {confirm: "Are you sure ?"},:class=>"btn btn-danger"%></td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>

<%= link_to "Add a new product", new_product_path, :class=>"btn btn-info" %>
