<div class="container">
  <%= form_with(model: @product, url: products_path) do |form| %>
  <table class="table table-bordered">
    <tr>
      <td><%= form.label :title %></td>
      <td><%= form.text_field :title%></td>
    </tr>
    <tr>
      <td><%= form.label :description %></td>
      <td><%= form.text_field :description%></td>
    </tr>
    <tr>
      <td><%= form.label :price %></td>
      <td><%= form.text_field :price%></td>
    </tr>
    <tr>
      <td><%= form.label :size %></td>
      <td><%= form.text_field :size%></td>
    </tr>
    <tr>
      <td></td>
      <td><%= form.submit "Create" %></td>
    </tr>
  </table>
  <% end %>
</div>

<%= link_to "<<Back", products_path, :class=>"btn btn-info" %>
